
.ipynb_checkpoints/cifar-ten-checkpoint.ipynb
__pycache__/utility.cpython-37.pyc
.ipynb_checkpoints/cifar-ten-analysis-checkpoint.ipynb
.ipynb_checkpoints/cifar-ten-final-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/utility-checkpoint.py
__pycache__/utility.cpython-39.pyc
.ipynb_checkpoints/cifar_ten_final-checkpoint.ipynb
models/best_weights_final - Copy.hdf5
